@import './variable.scss';

* {
    margin: 0;
    padding: 0;
}
html,
body, {
    height: 100%;
    background: $bg;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    background: transparent;
    color: #010101;
}

.dark-primary {
    background-color: #49443D !important;
}

.bold {
    font-weight: bold;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.font-bold {
    font-weight: bold;
}

.font-12 {
    font-size: 12px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-24 {
    font-size: 24px !important;
}

.font-30 {
    font-size: 30px;
}

.font-36 {
    font-size: 36px;
} //
// Utility classes
// --------------------------------------------------
.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.spacing-bottom {
    margin-bottom: 30px;
}

.v-align-bottom {
    vertical-align: bottom;
}

.v-align-top {
    vertical-align: top;
}

.v-align-middle {
    vertical-align: middle;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-30 {
    padding: 30px;
}

.padding-40 {
    padding: 40px;
}

.padding-50 {
    padding: 50px;
}

.padding-60 {
    padding: 60px;
}

/** Padding top **/

.p-t-5 {
    padding-top: 5px;
}

.p-t-7 {
    padding-top: 7px;
}

.p-t-8 {
    padding-top: 8px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-t-60 {
    padding-top: 60px;
}

/** Padding Bottom **/

.p-b-5 {
    padding-bottom: 5px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.p-b-60 {
    padding-bottom: 60px;
}

/** Padding Left **/

.p-l-5 {
    padding-left: 5px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-l-30 {
    padding-left: 30px;
}

.p-l-40 {
    padding-left: 40px;
}

.p-l-50 {
    padding-left: 50px;
}

.p-l-50 {
    padding-left: 50px;
}

.p-l-60 {
    padding-left: 60px;
}

/** Padding Right **/

.p-r-5 {
    padding-right: 5px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-r-30 {
    padding-right: 30px;
}

.p-r-40 {
    padding-right: 40px;
}

.p-r-50 {
    padding-right: 50px;
}

.p-r-60 {
    padding-right: 60PX;
}

/** Margins **/

.margin-5 {
    margin: 5px
}

.margin-10 {
    margin: 10px;
}

.margin-15 {
    margin: 15px;
}

.margin-20 {
    margin: 20px;
}

.margin-30 {
    margin: 30px;
}

.margin-40 {
    margin: 40px;
}

.margin-50 {
    margin: 50px;
}

.margin-60 {
    margin: 60px;
}

/** Margin top **/

.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-40 {
    margin-top: 40px;
}

/** Margin Bottom **/

.m-b-0 {
    margin-bottom: 0;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-40 {
    margin-bottom: 40px;
}

/** Margin Left **/

.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-l-40 {
    margin-left: 40px;
}

/** Padding Right **/

.m-r-5 {
    margin-right: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-r-40 {
    margin-right: 40px;
}

/*border*/

.b {
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.b-a {
    border: 1px solid #dee5e7;
}

.b-t {
    border-top: 1px solid #dee5e7;
}

.b-r {
    border-right: 1px solid #dee5e7;
}

.b-r-2x {
    border-right-width: 2px;
}

.b-r-3x {
    border-right-width: 3px;
}

.b-b {
    border-bottom: 1px solid #dee5e7;
}

.b-b-2x {
    border-bottom-width: 2px;
}

.b-b-3x {
    border-bottom-width: 3px;
}

.b-l {
    border-left: 1px solid #dee5e7;
}

.b-l-2x {
    border-left-width: 2px;
}

.b-l-3x {
    border-left-width: 3px;
}

.b-2x {
    border-width: 2px;
}

.b-3x {
    border-width: 3px;
}

.b-4x {
    border-width: 4px;
}

.b-white {
    border-color: #ffffff;
}

.b-default {
    border-color: #B4BDBD;
}

.b-light {
    border-color: #edf1f2;
}

.b-dark {
    border-color: #3a3f51;
}

.b-black {
    border-color: #3a3f51;
}

.b-primary {
    border-color: #b09573;
}

.b-success {
    border-color: #AFDE5C;
}

.b-info {
    border-color: #5CAFDE;
}

.b-warning {
    border-color: #DEB25C;
}

.b-danger {
    border-color: #DE4B39;
}

.b-dashed {
    border-style: dashed !important;
}

.inline {
    display: inline-block !important;
} 
// Floats
// -------------------------
//.clearfix {
//  @include clearfix;
//}
//.center-block {
//  @include center-block;
//}
.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
} // Toggling content
// -------------------------
// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
} //.text-hide {
//  @include text-hide;
//}
// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate
.hidden {
    display: none !important;
    visibility: hidden !important;
} // For Affix plugin
// -------------------------
.affix {
    position: fixed;
}

.w-30 {
    width: 30px;
}

.w-60 {
    width: 60px;
}

.w-90 {
    width: 90px;
}

.w-120 {
    width: 120px;
}

.w-150 {
    width: 150px;
}

.w-180 {
    width: 180px;
}

.w-210 {
    width: 210px;
}

.w-240 {
    width: 240px;
}

.w-270 {
    width: 270px;
}

.w-300 {
    width: 300px;
}

.w-330 {
    width: 330px;
}

.w-360 {
    width: 360px;
}

.w-full {
    width: 100%;
}

.w-auto {
    width: auto;
}

.h-auto {
    height: auto;
}

.h-full {
    height: 100%;
}

.circle {
    display: inline-block;
    border-radius: 50%;
}

.cube-60 {
    line-height: 60px !important;
    text-align: center;
    height: 60px;
    width: 60px;
}

.cube-30 {
    line-height: 30px !important;
    text-align: center;
    height: 30px;
    width: 30px;
}

.noAnimate {
    transition: none;
    -moz-transition: none;
    /* Firefox 4 */
    -webkit-transition: none;
    /* Safari 和 Chrome */
    -o-transition: none;
}
.cursor-pointer{
    cursor: pointer;
}