$blue:#1cb6e6;
$green:#55be89;
$red:#e4625b;
$yellow:#ffb739;
$grey:#648aa5;
$purple:#4157af;

$bg:#ffffff;

.text-red{
    color: $red;
}
.text-green{
    color: $green;
}
.text-yellow{
    color: $yellow;
}
.text-grey{
    color: $grey;
}
.text-blue{
    color: $blue;
}
.text-purple{
    color: $purple;
}